[workspace]
name = "LDO_API"
version = "0.0.1"
description = "Python package template"
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64"]
readme = "README.md"
license = "GPL-3.0"
license-file = "LICENSE"

[tasks]
# Installation
install = "pre-commit install"

# Docs
pre-commit = "pre-commit run --all-files"

[tool.ruff]
# Ruff configuration, see https://docs.astral.sh/ruff/configuration/
#lint.ignore = [
    #"E501",  # Line too long
    #"F401",  # Unused import
    #"F403",  # 'from module import *' used; unable to detect undefined names
    #"F405",  # Name may be undefined, or defined from star imports: module
    #"F841",  # Local variable name is assigned to but never used
    #"T201",  # Use of print statement (use print() function instead)
#]

[feature.common.dependencies]
python = ">=3.11,<3.14"
jupyterlab = "*"
ipykernel ="*"
ipywidgets ="*"
nbclient ="*"
openpyxl = "*"
pandas ="*"
pre-commit = "*"
pytest ="*"
pytest-cov = "*"
ruff = ">=0.8.1"
tqdm = "*"
python-dotenv = "*"
requests = "*"

[feature.common.pypi-dependencies]
LDO_API = { path = ".", editable = true }

[environments]
default = { features = ["common"] }
